[submodule "Repositorios_Alejandro/pmdm21"]
	path = Repositorios_Alejandro/pmdm21
	url = https://github.com/avidaldo/pmdm21.git
[submodule "Repositorios_Alejandro/android-eventos-java"]
	path = Repositorios_Alejandro/android-eventos-java
	url = https://github.com/avidaldo/android-eventos-java.git
[submodule "Repositorios_Alejandro/android-java-y-kotlin"]
	path = Repositorios_Alejandro/android-java-y-kotlin
	url = https://github.com/avidaldo/android-java-y-kotlin.git
[submodule "Repositorios_Alejandro/android-view-binding"]
	path = Repositorios_Alejandro/android-view-binding
	url = https://github.com/avidaldo/android-view-binding.git
[submodule "Repositorios_Alejandro/android-eventos-kotlin"]
	path = Repositorios_Alejandro/android-eventos-kotlin
	url = https://github.com/avidaldo/android-eventos-kotlin.git
[submodule "Repositorios_Alejandro/android-ciclodevida-java"]
	path = Repositorios_Alejandro/android-ciclodevida-java
	url = https://github.com/avidaldo/android-ciclodevida-java.git
[submodule "Repositorios_Alejandro/android-save-state"]
	path = Repositorios_Alejandro/android-save-state
	url = https://github.com/avidaldo/android-save-state.git
[submodule "PMDM-Proyecto1"]
	path = PMDM-Proyecto1
	url = https://github.com/estefaniapenide/PMDM-Proyecto1.git
[submodule "PMDM-ExamenPrueba1T"]
	path = PMDM-ExamenPrueba1T
	url = https://github.com/estefaniapenide/PMDM-ExamenPrueba1T.git
[submodule "Repositorios_Alejandro/android-tirador-dados"]
	path = Repositorios_Alejandro/android-tirador-dados
	url = https://github.com/avidaldo/android-tirador-dados.git
[submodule "Repositorios_Alejandro/kotlin-apuntes"]
	path = Repositorios_Alejandro/kotlin-apuntes
	url = https://github.com/avidaldo/kotlin-apuntes.git
[submodule "PMDM-ProyectosAndroid"]
	path = PMDM-ProyectosAndroid
	url = https://github.com/estefaniapenide/PMDM-ProyectosAndroid.git
[submodule "PMDM-CALCULADORA"]
	path = PMDM-CALCULADORA
	url = https://github.com/estefaniapenide/PMDM-CALCULADORA.git
[submodule "Repositorios_Alejandro/pmdm20"]
	path = Repositorios_Alejandro/pmdm20
	url = https://github.com/avidaldo/pmdm20.git
[submodule "Repositorios_Alejandro/android-calculadora"]
	path = Repositorios_Alejandro/android-calculadora
	url = https://github.com/avidaldo/android-calculadora.git
[submodule "Repositorios_Alejandro/android-layouts-vistas"]
	path = Repositorios_Alejandro/android-layouts-vistas
	url = https://github.com/avidaldo/android-layouts-vistas.git
[submodule "Repositorios_Alejandro/android-menus"]
	path = Repositorios_Alejandro/android-menus
	url = https://github.com/avidaldo/android-menus.git
[submodule "Repositorios_Alejandro/android-activities"]
	path = Repositorios_Alejandro/android-activities
	url = https://github.com/avidaldo/android-activities.git
